.container{

    padding-top: 10px !important;
    height : 720px;
    
    position : relative;
    border: 3px solid rgb(202, 236, 255);
}

.center{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}